body {
    background-color: #242424;
    color: #ffffff;
    overflow-y: scroll;        
}

.avatar {
    width: 60%;    
}

.name-text {
    margin-top: 7%;
    text-align: center;
}

.nav-link {
    color: #EEEEEE;
}

.level {
    margin-top: 3px;
    margin-bottom: 10px;
}

.row {
    margin-bottom: 15px;;
}
