.nav-link-color {
    color: #AAAAAA;
}

.nav-link-color-red {
    color: #DE3163;
}

.navbar-app {
    margin-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-bottom: 100px;
}

.separator {    
    width: 100%;
    height: 75px;
}